// CORES
$cor1: #bcd8e7;
$cor2: #1c2f3b;
$cor3: #ee5426;
$cor4: #79cd79;
$cor5: #4275c1;
$cor6: #802600;
$cor7: #4275c1;
$cor8: #553c2d;
$cor9: #8e6747;

$svg1: str_slice(#{$cor1}, 2, 7);
$svg2: str_slice(#{$cor2}, 2, 7);
$svg3: str_slice(#{$cor3}, 2, 7);
$svg4: str_slice(#{$cor4}, 2, 7);

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap");

$fonte: "Mulish", sans-serif;
