// CORES
$cor1: #004f90;
$cor2: #009ddc;
$cor3: #db728f;
$cor4: #8d6fcc;
$cor5: #be9df0;
$cor6: #725eaa;
$cor7: #00285f;
$cor8: #00b193;
$cor9: #87898c;
$cor10: #d980d5;

$svg1: str_slice(#{$cor1}, 2, 7);
$svg2: str_slice(#{$cor2}, 2, 7);
$svg3: str_slice(#{$cor3}, 2, 7);
$svg4: str_slice(#{$cor4}, 2, 7);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");

$fonte: "Montserrat", sans-serif;
