@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  //outline: 0;

  box-sizing: border-box;
  -webkit-overflow-scrolling: auto;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $cor5;
  color: $cor2;
  font-family: $fonte;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  margin: 0;
  padding: 0;

  &.bgBranco {
    background: #fff;
  }

  &.initOverflow {
    overflow: hidden;
  }
}

.verticalCenter {
  display: flex;
  align-items: center;
  flex-direction: row;

  @media #{$bp-tablet} {
    flex-direction: column;
  }
}

.overflow {
  overflow: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/// BOOT
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
///// BOOT

/*******************************
Loading
********************************/
.loadingContent {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  .loadingio-spinner {
    width: 160px;
    height: 160px;
    display: inline-block;
    overflow: hidden;
    background: none;

    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    .spinner {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
  }

  .spinner div {
    box-sizing: border-box !important;
  }
  .spinner > div {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 22px;
    left: 22px;
    border-radius: 50%;
    border: 12px solid #000;
    border-color: #3a627a transparent #3a627a transparent;
    animation: spinner 2.5s linear infinite;
  }

  .spinner > div:nth-child(2),
  .spinner > div:nth-child(4) {
    width: 84px;
    height: 84px;
    top: 37px;
    left: 37px;
    animation: spinner 2.5s linear infinite reverse;
  }
  .spinner > div:nth-child(2) {
    border-color: transparent #009da3 transparent #009da3;
  }
  .spinner > div:nth-child(3) {
    border-color: transparent;
  }
  .spinner > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .spinner > div:nth-child(3) div:before,
  .spinner > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: -12px;
    left: 38px;
    background: #3a627a;
    border-radius: 50%;
    box-shadow: 0 102px 0 0 #3a627a;
  }
  .spinner > div:nth-child(3) div:after {
    left: -12px;
    top: 38px;
    box-shadow: 102px 0 0 0 #3a627a;
  }
  .spinner > div:nth-child(4) {
    border-color: transparent;
  }
  .spinner > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .spinner > div:nth-child(4) div:before,
  .spinner > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: -12px;
    left: 24px;
    background: #009da3;
    border-radius: 50%;
    box-shadow: 0 72px 0 0 #009da3;
  }
  .spinner > div:nth-child(4) div:after {
    left: -12px;
    top: 24px;
    box-shadow: 72px 0 0 0 #009da3;
  }

  .spinner div {
    box-sizing: content-box;
  }
  /* generated by https://loading.io/ */
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
